* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2f2d52;
    color: #2f2d52;
    line-height: 1.5;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
}

/* style for header */
#header {
    background-color: #2f2d52;
    padding: 5px 0;
    position: sticky;
    top: 0px;
}

#header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

#header li {
    flex: 1;
}

#header a {
    text-decoration: none;
    color: #eaf1f9;
}

#header a:hover {
    color: #c0c0ca;
}

/* style for introduction section */
#introduction {
    background-color: #eaf1f9;
    height: 400px;
    display: flex;
}

#introduction .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
}

#introduction .greeting {
    max-width: 500px;
    flex: auto;
}

#introduction .logo {
    max-width: 30px;
    max-height: 30px;
}

#introduction .pfp{
    flex: auto;
}

#introduction .user {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #85bd76;
}

/* style for about-me section */
#about-me {
    background-color: #c0c0ca;
    text-align: center;
    padding: 20px;
}

#about-me ul {
    list-style: none;
    padding: 20px;
}

#about-me li {
    margin-top: 20px;
}

#about-me .container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    flex-wrap: wrap;
}

#about-me .personal-info,
.education {
    border-radius: 18px;
    background-color: #2f2d52;
    padding: 20px;
    flex: auto;
    max-width: 300px;
    height: 400px;
    color: #eaf1f9;
    box-shadow: 5px 5px 5px #747476;
}

/* style for projects section */
#projects {
    background-color: #eaf1f9;
    color: 2f2d52;
    text-align: center;
    padding: 20px;
}

#projects .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

#projects img {
    width: 200px;
    height: 250px;
    border-radius: 10px;
}

#projects .project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    justify-content: flex-start;
    background-color: #c0c0ca;
    padding: 20px;
    max-width: 250px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #9d9ea0;
    margin-top: 20px;
    flex: auto;
}

#projects a{
    text-decoration: none;
    background-color: #2f2d52;
    color: #eaf1f9;
    padding: 4px 8px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #79797d;
}

#projects a:hover {
    background-color: #141329;
}

/* style for skills section*/
#skills {
    background-color: #c0c0ca;
    text-align: center;
    padding: 20px;
}

#skills img {
    width: 150px;
    height: 100px;
}

#skills .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#skills .skill-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* style for footer section */
#footer {
    background-color: black;
    color: white;
    text-align: center;
}

